/backend
/frontend
/installer
/vendor
access.log
error.log
.htaccess
/node_modules
/storage
/storage/*.key
/storage/*
/vendor
/public/upload
/public/storage
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.phpstorm.meta.php
/laravel_project/bootstrap/cache
/laravel_project/node_modules
/laravel_project/storage/*.key
/laravel_project/storage/*
/laravel_project/vendor
/laravel_project/public
/laravel_project/public/upload
/laravel_project/public/storage
/laravel_project/.env
/laravel_project/.env.backup
/laravel_project/.phpunit.result.cache
/laravel_project/docker-compose.override.yml
/laravel_project/Homestead.json
/laravel_project/Homestead.yaml
/laravel_project/npm-debug.log
/laravel_project/yarn-error.log
/laravel_project/.phpstorm.meta.php

